{{- $haystack := . -}}

{{- /*
  Replace fractions written like "1/2" with known HTML entities when possible.
  */
-}}
{{- $in := "1/2" -}}
{{- $out := `<span class="frac frac--entity">&frac12;</span>` -}}
{{- $haystack = replace $haystack $in $out -}}

{{- /*
  When an HTML entity doesn't exist, wrap in super/subscript and use the
  fractional divider entity.
  */
-}}
{{- $REin := `([0-9]+)/([0-9]+)` -}}
{{- $REout := `<span class="frac frac--formatted"><sup>$1</sup>&frasl;<sub>$2</sub></span>` -}}
{{- $haystack = replaceRE $REin $REout $haystack -}}

{{- return $haystack -}}
