{{- $pctx := .pctx }}
{{- $name := .name }}
{{- $data := .data }}

{{- with $data }}
  {{- $timeSuffix := .time_suffix }}
  {{- $cols := 3 }}
  <table class="table table--drill_bits">
    <caption class="table__caption">
      <h3 class="table__title">
        How to remove drill bits from {{ $name }} using
        <span class="multietch-wordmark"
          >Multi&#8209;Etch<span class="registered">&#174;</span></span
        >
      </h3>
      {{- with .note }}
        <p class="table__note">Note: {{ . | markdownify }}</p>
      {{- end }}
    </caption>
    <thead class="table__head">
      <tr class="table__row">
        <th class="table__cell table__cell--head" scope="col">Process</th>
        <th class="table__cell table__cell--head" scope="col">
          Etch time
          {{ with $timeSuffix }}
            {{ . }}
          {{ end }}
        </th>
        <th class="table__cell table__cell--head" scope="col">
          Surface change
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{- range $key, $value := .process }}
        <tr class="table__row">
          <th
            colspan="{{ $cols }}"
            scope="colgroup"
            class="table__cell table__cell--head table__cell--head3"
            data-title="Process"
          >
            {{- $key -}}
          </th>
        </tr>
        {{- range . }}
          <tr class="table__row">
            <td class="table__cell table__cell--process" data-title="Process">
              {{- index . "process" -}}
            </td>
            <td
              class="table__cell"
              data-title="Etch time {{ with $timeSuffix }}{{ . }}{{ end }}"
            >
              {{- index . "time" -}}
            </td>
            <td class="table__cell" data-title="Surface change">
              {{- index . "surface" -}}
            </td>
          </tr>
        {{- end }}
      {{- end }}
    </tbody>
  </table>
{{- end -}}
