{{- $pctx := .pctx }}
{{- $metal := .metal }}
{{- $data := .data }}
{{- with $data.alloy }}
  {{ $metal = printf "%s" ")" | printf "%s%s" . | printf "%s%s" " (" | printf "%s%s" $metal | printf "%s" }}
{{- end }}
{{- $cols := "" }}

{{- with $data.drill_bits }}
  {{- $timeSuffix := .time_suffix }}
  {{- $cols = 3 }}
  <table class="table">
    <caption class="table__caption">
      How to remove drill bits from {{ $metal }} using
      <span class="multietch-wordmark"
        >Multi&#8209;Etch<span class="registered">&#174;</span></span
      >
    </caption>
    <thead class="table__head">
      {{- with .note }}
        <tr class="table__row">
          <td
            class="table__cell table__note"
            colspan="{{ $cols }}"
            scope="colgroup"
          >
            {{- . -}}
          </td>
        </tr>
      {{- end }}
      <tr class="table__row">
        <th class="table__cell table__cell--head" scope="col">Process</th>
        <th class="table__cell table__cell--head" scope="col">
          Etch time
          {{ with $timeSuffix }}
            {{ . }}
          {{ end }}
        </th>
        <th class="table__cell table__cell--head" scope="col">
          Surface change
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{- range $key, $value := .process }}
        <tr class="table__row">
          <th
            class="table__cell table__cell--head table__cell--head3"
            data-title="Process"
          >
            {{- $key -}}
          </th>
        </tr>
        {{- range . }}
          <tr class="table__row">
            <td class="table__cell table__cell--process" data-title="Process">
              {{- index . "process" -}}
            </td>
            <td
              class="table__cell"
              data-title="Etch time {{ with $timeSuffix }}{{ . }}{{ end }}"
            >
              {{- index . "time" -}}
            </td>
            <td class="table__cell" data-title="Surface change">
              {{- index . "surface" -}}
            </td>
          </tr>
        {{- end }}
      {{- end }}
    </tbody>
  </table>
{{- end -}}

{{- with $data.preparing }}
  {{- $subtypeLabel := .subtype.label | title }}
  {{- $cols = 4 }}
  <table class="table">
    <caption class="table__caption">
      Preparing {{ $metal }} {{ .label }} using
      <span class="multietch-wordmark"
        >Multi&#8209;Etch<span class="registered">&#174;</span></span
      >
    </caption>
    <thead class="table__head">
      {{- with .note }}
        <tr class="table__row">
          <td
            class="table__cell table__note"
            colspan="{{ $cols }}"
            scope="colgroup"
          >
            {{- . -}}
          </td>
        </tr>
      {{- end }}
      <tr class="table__row">
        <th class="table__cell table__cell--head" scope="col">
          {{- $subtypeLabel -}}
        </th>
        <th class="table__cell table__cell--head" scope="col">Process</th>
        <th class="table__cell table__cell--head" scope="col">Etch time</th>
        <th class="table__cell table__cell--head" scope="col">
          Surface change
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{- range $key, $value := .subtype }}
        {{- if ne $key "label" }}
          <tr class="table__row">
            <th
              colspan="{{ $cols }}"
              scope="colgroup"
              class="table__cell table__cell--head table__cell--head2"
              data-title="{{ $subtypeLabel }}"
            >
              {{- $key | markdownify -}}
            </th>
          </tr>
          {{- range . }}
            <tr class="table__row">
              <td class="table__cell" data-title="{{ $subtypeLabel }}"></td>
              <td class="table__cell table__cell--process" data-title="Process">
                {{- index . "process" -}}
              </td>
              <td class="table__cell" data-title="Etch time">
                {{- index . "time" -}}
              </td>
              <td class="table__cell" data-title="Surface change">
                {{- index . "surface" -}}
              </td>
            </tr>
          {{- end }}
        {{- end }}
      {{- end }}
    </tbody>
  </table>
{{- end -}}

{{- with $data.removing_color }}
  {{- $subtypeLabel := .subtype.label | title }}
  {{- $cols = 4 }}
  <table class="table">
    <caption class="table__caption">
      Removing color from {{ $metal }} using
      <span class="multietch-wordmark"
        >Multi&#8209;Etch<span class="registered">&#174;</span></span
      >
    </caption>
    <thead class="table__head">
      {{- with .note }}
        <tr class="table__row">
          <td
            class="table__cell table__note"
            colspan="{{ $cols }}"
            scope="colgroup"
          >
            {{- . -}}
          </td>
        </tr>
      {{- end }}
      <tr class="table__row">
        <th class="table__cell table__cell--head" scope="col">
          {{- $subtypeLabel -}}
        </th>
        <th class="table__cell table__cell--head" scope="col">Process</th>
        <th class="table__cell table__cell--head" scope="col">Etch time</th>
        <th class="table__cell table__cell--head" scope="col">
          Surface change
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{- range $key, $value := .subtype }}
        {{- if ne $key "label" }}
          <tr class="table__row">
            <th
              colspan="{{ $cols }}"
              scope="colgroup"
              class="table__cell table__cell--head table__cell--head2"
              data-title="{{ $subtypeLabel }}"
            >
              {{- $key | markdownify -}}
            </th>
          </tr>
          {{- range . }}
            <tr class="table__row">
              <td class="table__cell" data-title="{{ $subtypeLabel }}"></td>
              <td class="table__cell table__cell--process" data-title="Process">
                {{- index . "process" -}}
              </td>
              <td class="table__cell" data-title="Etch time">
                {{- index . "time" -}}
              </td>
              <td class="table__cell" data-title="Surface change">
                {{- index . "surface" -}}
              </td>
            </tr>
          {{- end }}
        {{- end }}
      {{- end }}
    </tbody>
  </table>
{{- end -}}

{{- with $data.etching }}
  {{- $subtypeLabel := .subtype.label | title }}
  {{- $timeSuffix := .time_suffix }}
  {{- $depthSuffix := .depth_suffix }}
  {{- $cols = 5 }}
  {{- if eq $subtypeLabel "" }}
    {{- $cols = sub $cols 1 }}
  {{- end }}
  <table class="table">
    <caption class="table__caption">
      Etch rates for {{ $metal }} using
      <span class="multietch-wordmark"
        >Multi&#8209;Etch<span class="registered">&#174;</span></span
      >
    </caption>
    <thead class="table__head">
      {{- with .note }}
        <tr class="table__row">
          <td
            class="table__cell table__note"
            colspan="{{ $cols }}"
            scope="colgroup"
          >
            {{- . -}}
          </td>
        </tr>
      {{- end }}
      <tr class="table__row">
        {{- with $subtypeLabel -}}
          <th class="table__cell table__cell--head" scope="col">{{ . }}</th>
        {{- end -}}
        <th class="table__cell table__cell--head" scope="col">Process</th>
        <th class="table__cell table__cell--head" scope="col">
          Etch time
          {{ with $timeSuffix }}
            {{ . }}
          {{ end }}
        </th>
        <th class="table__cell table__cell--head" scope="col">
          Etch depth
          {{ with $depthSuffix }}
            {{ . }}
          {{ end }}
        </th>
        <th class="table__cell table__cell--head" scope="col">
          Surface change
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{- range $key, $value := .subtype }}
        {{- if ne $key "label" }}
          {{- with $subtypeLabel }}
            <tr class="table__row">
              <th
                colspan="{{ $cols }}"
                scope="colgroup"
                class="table__cell table__cell--head table__cell--head2"
                data-title="{{ . }}"
              >
                {{- $key | markdownify -}}
              </th>
            </tr>
          {{- end }}
          {{- range $key, $value := .process }}
            <tr class="table__row">
              {{- with $subtypeLabel }}
                <th
                  class="table__cell table__cell--head table__cell--head3"
                ></th>
              {{- end }}
              <th
                class="table__cell table__cell--head table__cell--head3"
                data-title="Process"
              >
                {{- $key -}}
              </th>
            </tr>
            {{- range . }}
              <tr class="table__row">
                {{- with $subtypeLabel }}
                  <td class="table__cell" data-title="{{ . }}"></td>
                {{- end }}
                <td
                  class="table__cell table__cell--process"
                  data-title="Process"
                >
                  {{- index . "process" -}}
                </td>
                <td
                  class="table__cell"
                  data-title="Etch time {{ with $timeSuffix }}{{ . }}{{ end }}"
                >
                  {{- index . "time" -}}
                </td>
                <td
                  class="table__cell"
                  data-title="Etch depth {{ with $depthSuffix }}
                    {{ . }}
                  {{ end }}"
                >
                  {{- index . "depth" | string -}}
                </td>
                <td class="table__cell" data-title="Surface change">
                  {{- index . "surface" -}}
                </td>
              </tr>
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
    </tbody>
  </table>
{{- end -}}
