{{- $pctx := .pctx }}
{{- $metal := .metal }}
{{- $data := .data }}
{{- with $data.alloy }}
  {{ $metal = printf "%s" ")" | printf "%s%s" . | printf "%s%s" " (" | printf "%s%s" $metal | printf "%s" }}
{{- end }}

{{- with $data.custom }}
  {{- if eq .position "top" }}
    {{- partial "partials/data/rate-table--custom" (dict
      "pctx" $pctx
      "metal" $metal
      "data" .
      )
    }}
  {{- end }}
{{- end -}}

{{- with $data.preparing }}
  {{- partial "partials/data/rate-table--preparing" (dict
    "pctx" $pctx
    "metal" $metal
    "data" .
    )
  }}
{{- end -}}

{{- with $data.removing_color }}
  {{- partial "partials/data/rate-table--removing_color" (dict
    "pctx" $pctx
    "metal" $metal
    "data" .
    )
  }}
{{- end -}}

{{- with $data.etching }}
  {{- partial "partials/data/rate-table--etching" (dict
    "pctx" $pctx
    "metal" $metal
    "data" .
    )
  }}
{{- end -}}

{{- with $data.drill_bits }}
  {{- partial "partials/data/rate-table--drill_bits" (dict
    "pctx" $pctx
    "metal" $metal
    "data" .
    )
  }}
{{- end -}}

{{- with $data.custom }}
  {{- if eq .position "bottom" }}
    {{- partial "partials/data/rate-table--custom" (dict
      "pctx" $pctx
      "metal" $metal
      "data" .
      )
    }}
  {{- end }}
{{- end -}}
