.grid-container {
  /**
   * Default values set in `config/_default/params.toml`. Also used by the
   * `grid` shortcode.
   */
  --grid-column-count: #{$gridDefaultColumns};
  --grid-layout-gap: #{$gridDefaultItemGap};
  --grid-item--min-width: #{$gridDefaultItemWidth};
  --grid-item--margin: #{$gridDefaultItemMargin};

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns:
    repeat(
      auto-fill,
      minmax(
        Max(
          var(--grid-item--min-width),
          var(--grid-item--max-width)
        ),
      1fr)
    );
  grid-gap: var(--grid-layout-gap);

  > * {
    margin: var(--grid-item--margin);
  }

  &--square {
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}
