:root {
  --size: 1;
  --extra: 0;
  --spacer: 1rem; // $spacer
  --text-space-y: 1.5rem; // $text-space-y
  --spacing: calc(var(--size) * var(--spacer));
  --cap-pad-top: calc(var(--spacing) * 0.25);
  --cap-pad-sides: calc(var(--extra) * var(--spacer));
  --cap-pad-btm: calc(var(--spacing) * 0.75);
}

figure {
  display: inline-block;
  margin: var(--text-space-y) calc(var(--extra) * -1rem);

  img {
    margin-bottom: (var(--spacer) / 2);
    line-height: 1;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    font-size: 87.5%;
    color: #6c757d;
  }

  figcaption,
  .figure-caption {
    margin: var(--cap-pad-top) var(--cap-pad-sides) var(--cap-pad-btm);
  }

  &.img-constrained {
    display: block;
    margin: var(--text-space-y) auto;
  }

  &.wide {
    --size: 2;
    --extra: 1.5;

    @include media-breakpoint-up(md) {
      --extra: 2.5;
    }

    @include media-breakpoint-up(lg) {
      --extra: 5;
    }

    figcaption,
    .figure-caption {
      margin-inline: calc(var(--bs-gutter-x) * .5);

      @include media-breakpoint-up(sm) {
        margin-inline: 0;
      }
    }
  }
}

.img-align-right,
.img-align-left {
  @include media-breakpoint-up(sm) {
    width: calc(50% - calc(var(--spacer) * 2));
    margin-top: calc(var(--spacer) / 2);
  }
}

.img-align-left {
  @include media-breakpoint-up(sm) {
    float: left;
    margin-right: calc(var(--spacer) * 2);
  }
}

.img-align-right {
  @include media-breakpoint-up(sm) {
    float: right;
    margin-left: calc(var(--spacer) * 2);
  }
}

.blur-up {
  filter: blur(5px);
}

.blur-up.lazyloaded {
  filter: unset;
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.simpleicons {
  width: 20px;
  height: 20px;
}

.inline-icon {
  vertical-align: text-top;
  margin-top: 0.45rem;
}
