// Multi-Etch logo image styles and the Multi-Etch® wordmark

.multietch-wordmark {
  white-space: nowrap;
  word-break: keep-all;

  .registered {
    vertical-align: super;
    margin: 0 -0.05rem 0 -0.1rem;
    font-size: 70%;
    font-weight: 400;

    .btn & {
      font-weight: 800;
    }
  }
}
