// Multi-Etch logo image styles and the Multi-Etch® wordmark

.multietch-wordmark {
  white-space: nowrap;
  word-break: keep-all;

  .registered {
    vertical-align: super;
    margin-left: -0.1em;
    font-size: 70%;
    font-weight: 400;

    h1 &,
    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & {
      margin-left: -0.2em;
    }

    .btn & {
      font-weight: 800;
    }
  }
}
