// Note some styles for base HTMl tags are also set in common/_global.scss

.content {
  p {
    margin: $text-space;
    text-align: left;
  }

  blockquote {
    margin: $text-space;
    padding: ($spacer / 2) ($spacer * 2);
    border-left: 3px currentColor solid;
    background-color: whitesmoke;
  }
}
