{{/* Sourced from Doks */}}{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1>{{ dict
          "Content" .Title
          "Wordmark" .Site.Params.wordmark
        | partial "function/content.html"
        | safeHTML
      }}</h1>
      {{ dict
          "Content" .Content
          "Wordmark" .Site.Params.wordmark
        | partial "function/content.html"
        | safeHTML
      }}
    </article>
  </div>
</div>
{{ end }}
