/** Custom styles */

.section p {
  margin: 1.25rem 0;
  text-align: left;
}

.multietch-wordmark {
  white-space: nowrap;
  word-break: keep-all;

  .registered {
    vertical-align: super;
    margin: 0 -0.15rem;
    font-size: 70%;
  }
}
