{{/*

USAGE: The grid shortcode sets the number of columns and minimum widths for each
child item, allowing items to overflow to the next row if they can't fit within
minimum-width values.

Source:
https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/

Use default values: 3 columns, 200px min-width of items, 1rem gap, 0 margin on
items:
< grid >
  [items]
</ grid >

Set number of columns to 2; use defaults for other values:
< grid cols="2" >
  [items]
</ grid >

Set number of columns to 2, min-width to 500px, gap to 5rem, and margins on
items to '1rem 0':
< grid cols="2" width="500px" gap="5rem" margin="1rem 0" >
  [items]
</ grid >

Set number of columns to 4, and set child images to be perfect squares (using
'cover', allowing for clipping):
< grid cols="4" sq="true" >
  [items]
</ grid >

*/}}
{{- $columns := .Get "cols" -}}
{{- $itemWidth := .Get "width" -}}
{{- $itemGap := .Get "gap" -}}
{{- $itemMargin := .Get "margin" -}}
{{- $itemSquare := .Get "sq" -}}
<div
  class="
    grid-container
    {{ with $itemSquare -}}
      grid-container--square
    {{- end -}}
  "
  style="
    {{- with $columns -}}
      --grid-column-count: {{ . }};
    {{- end -}}
    {{- with $itemWidth -}}
      --grid-item--min-width: {{ . }};
    {{- end -}}
    {{- with $itemGap -}}
      --grid-layout-gap: {{ . }};
    {{- end -}}
    {{- with $itemMargin -}}
      --grid-item--margin: {{ . }};
    {{- end -}}
  "
>
  {{ .Inner }}
</div>
